<!DOCTYPE html>
<html lang='en' dir='ltr'>
  <head>
    <meta charset='utf-8'>
    <title>
        Help
    </title>

    <h1> Find your local representatives!</h1>
  </head>
  <body>
      <br>
      <br>
      <form action="/zip" method="post">
          <input type="text" id="zip" name="zip">
          <input type="submit" value="Submit">
      </form>
      <br><br><br>
      {% for row in results: %}
      {{row['name']}} <br>
      {{row['link']}} <br><br>
      {% endfor %}


  </body>
  <footer>
  </footer>
</html>
