{% extends "base.html"%}
{%block body%}
<div class="container-fluid bg-primary p-2">
  <h1 id="headline">lets see</h1>
</div>
<div class="container-fluid bg-info p-2">
  <h5>
    Because of the fact that records of the Earth's global climate began being recorded in <br>
    1880, we don't have any completely accurate information of the flucations in our climate. <br>
    However, some very smart palentologists and geologists (see below) <br>
    have approximated this data using their sophisticated geology technologies<br>
  </h5>
</div>
<div class="container-fluid bg-secondary p-2">
  <div class="container bg-white p-2">
    <div id="chart"></div>
  </div>
</div>
<div class="container-fluid bg-primary p-2">
  <button id="start" class="btn btn-success">Start</button>
  <button id="stop" class="btn btn-danger">Stop</button>
</div>
<div class="container bg-light m-3 p-2 rounded">
  <span>
    <p id="moberg"> Data For Blue Line:<br>
      Moberg, A., et al. 2005.<br>
      2,000-Year Northern Hemisphere Temperature Reconstruction.<br>
      IGBP PAGES/World Data Center for Paleoclimatology<br>
      Data Contribution Series # 2005-019.<br>
      NOAA/NGDC Paleoclimatology Program, Boulder CO, USA.</p>
  </span>
  <span>
    <p id="moberg"> Data For Red Line:<br>
      Christiansen, B. and F.C. Ljungqvist. 2012. <br>
      Northern Hemisphere 2000 Year Multiproxy Temperature Reconstruction. <br>
      IGBP PAGES/World Data Center for Paleoclimatology <br>
      Data Contribution Series # 2012-049. <br>
      NOAA/NCDC Paleoclimatology Program, Boulder CO, USA.<br>
    </p>
  </span>
  <span>
    <p id="moberg"> Data For Green Line:<br>
      Authors: Feng Shi, Bao Yang, Aurèlien Mairesse, Lucien von Gunten, <br> Jianping Li, Achim Bräuning, Fengmei Yang, Xia Xiao
      Published_Date_or_Year: 2013-04-24><br>
      Published_Title: Northern Hemisphere temperature reconstruction during the last millennium using multiple annual proxies<br>
      Journal_Name: Climate Research<br>
#       DOI: 10.3354/cr01156<br>
      http://www1.ncdc.noaa.gov/pub/data/paleo/contributions_by_author/shi2013/shi2013nh.txt<br>
    </p>
  </span>
</div>
{%endblock%}

{%block script%}
<script>
  var mobergData = {{mobergdata}};
  var christiansenData = {{christiansendata}};
  var shiData = {{shidata}};
</script>
<script src="static/js/historical.js"></script>
{%endblock%}
