{% extends "base.html"%}
{%block body%}
<h1 id="headline">lets see</h1>
<br>
<h5>
  Because of the fact that records of the Earth's global climate began being recorded in <br>
  1880, we don't have any completely accurate information of the flucations in our climate. <br>
  However, the good people at (see above) the World Data Center for Paleoclimatology <br>
  have approximated this data using their sophisticated geology technologies<br>
</h5>
<div id="chart"></div>
<br>
<h4> The data being used in this web page is available due to:<br>
  Moberg, A., et al. 2005.<br>
  2,000-Year Northern Hemisphere Temperature Reconstruction.<br>
  IGBP PAGES/World Data Center for Paleoclimatology<br>
  Data Contribution Series # 2005-019.<br>
  NOAA/NGDC Paleoclimatology Program, Boulder CO, USA.<h4>
{%endblock%}

{%block script%}
<script src="static/js/historical.js"></script>
{%endblock%}
