{% extends "base.html"%}
{% block body %}
<h1>Peter Pickled Peppers Presents: [INSERT COOL NAME]!</h1>
<br>
<div id="twister">
  <p>Peter Piper picked a peck of pickled peppers.<br>
    A peck of pickled peppers Peter Piper picked.<br>
    If Peter Piper picked a peck of pickled peppers,<br>
    Where's the peck of pickled peppers Peter Piper picked?</p>
</div>
<p></p>
<br>
<form action = {{url_for("extremes")}}>
  <button class="btn btn-info" type="submit"> Look at this</button>
</form>
<br>
<form action = {{url_for("globalTempAnomaly")}}>
  <button class="btn btn-success" type = "submit"> Or you can look at this</button>
</form>
<br>
<form action = {{url_for("usMap")}}>
  <button class="btn btn-info" type="submit">The US Map</button>
</form>
{%endblock%}

{% block script%}
<script src="static/js/homepage.js"></script>
{% endblock%}
