
{% block heading %}
  <!--  jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
  *{
    font-family: "Helvetica Neue";
  }
  p {
    font-size: 0.85em;
  }

  .state {
    fill: #e3e3e3;
    stroke: #333;
    stroke-width: 0.5;
  }

  .selected {
    fill: yellow;
  }
  </style>
{% endblock %}
{% block body %}

  <div class="container my-3 py-2 bg-primary">
    <div class="row">
      <div class="col-sm">
        <div class="text-center">
          <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="checkbox" checked> Wildfires
            </label>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="text-center">
          <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="checkbox" checked> Combustion Factories
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
      </div>
    </div>
  </div>
  <div class="container my-auto mx-auto p-2 bg-dark">
    <div id="map" class="text-center"></div>
    <div class="card" style="width: auto;">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="container my-3 p-2">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <form action = {{url_for("hello_world")}}>
          <div class="text-center">
            <button class="btn btn-info" type="submit">Back</button>
          </div>
        </form>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <script src="static/js/visualizationmap.js"></script>
{% endblock %}
