<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>
    *{
      font-family: "Helvetica Neue";
    }
    p {
      font-size: 0.85em;
    }

    .state {
      fill: #e3e3e3;
      stroke: #333;
      stroke-width: 0.5;
    }
    </style>
    <title>MAP</title>
  </head>
  <body>
    <div id="map"></div>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="static/js/visualizationmap.js"></script>
  </body>
</html>
