
<!DOCTYPE HTML>
<html>

  <head>
    {% block heading %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    {% endblock %}
  </head>

  <body>
    <div id="navbar">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="/">
	  PPP
	  <img src="https://cdn.drawception.com/images/panels/2015/3-10/dL7HFjxqcf-2.png" width="30" height="30" alt="">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
	  <ul class="navbar-nav">
	    <li class="nav-item">
              <a class="nav-link" href="/extremesData">Tempurature Extremes</a>
	    </li>
	    <li class="nav-item">
              <a class="nav-link" href="/globalTemp">Global Tempurature</a>
	    </li>
	    <li class="nav-item">
              <a class="nav-link" href="/usmap">Wildfires</a>
	    </li>
	    <li class="nav-item">
              <a class="nav-link" href="/help">What Can We Do</a>
	    </li>
	  </ul>
	</div>
      </nav>
    </div>
    {% block body %}
    {% endblock %}

    {% block script %}
    {% endblock %}
  </body>
</html>
